<table id="users_table" align="center" border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<%= render "userlist" %>
</table>

<div id="user_form">
		<%= render "userform" %>
</div>
